/* app css stylesheet */
body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
}

.center {
  text-align: center;
}

table.followers-table {
  text-align: left;
}

table.followers-table > tbody > tr> td{
  vertical-align: middle;
}

.addmarginforty {
  margin-top: 40px;
}