<h2>Compare two git users</h2 >
<form role="form" name="gitMatchForm">
  <div class="form-group">
    <label for="user1">Username No. 1:</label>
    <input type="text" class="form-control" id="user1" placeholder="Enter an username" ng-model="userNameOne" required>
  </div>
  <div class="form-group">
    <label for="user2">Username No. 2:</label>
    <input type="text" class="form-control" id="user2" placeholder="Enter an username" ng-model="userNameTwo" required>
  </div>
  <button type="submit" class="btn btn-primary" ng-click="compare()" ng-disabled="gitMatchForm.$invalid || userNameOne === userNameTwo">Compare</button>
</form>
<div ng-show="winnerText" class="center">
  <h2 class="text-success">{{winnerText}}</h2>
  <a href="#/detail/{{winner}}" ng-show="winner">Show detail</a>
</div>
<div ng-show="error" class="center">
  <h2 class="text-danger">{{error}}</h2>
</div>