<h2>Winner is {{username}}</h2 >
<h3 class="text-info">Number of followers is {{followers.length}}</h3>
<section class="addmarginforty">
  <table class="table followers-table .table-hover">
      <thead>
          <tr>
              <th></th>
              <th></th>
              <th>User name</th>
              <th>User url</th>
          </tr>
      </thead>
      <tbody>
        <tr ng-repeat = "follower in followers">
          <td>{{$index + 1}}</td>
          <td><img ng-src="{{follower.avatar_url}}" class="img-thumbnail img-responsive" width="80" height="80"></img></td>
          <td>{{follower.login}}</td>
          <td><a href="{{follower.html_url}}" target="_blank">{{follower.html_url}}</a></td>
          <!-- TODO: checkbox to compare two of followers 
          <td></td> -->
        </tr>
      </tbody>
  </table>
</section>
